<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{.Data.dep}}
    <title>Elgato Control Panel</title>
</head>

<body class="dark">
    
    {{block "lights" .}}
    <nav class="tabs left-align">
        {{range $index, $element := .Data.state}}
        <a {{ if eq $index 0}} class="active" {{end}} id="key{{$index}}"
        hx-on:click='htmx.takeClass(htmx.find("#key{{$index}}"), "active");htmx.takeClass(htmx.find("#value{{$index}}"), "active")'>{{(index
            $element.Lights 0).IP}}</a>
            {{end}}
            <button hx-post="/discover" hx-on:click='htmx.toggleClass(htmx.find(".modal"), "active")'
            hx-target="#newlights" class="transparent square large a">
            <i>add</i>
        </button>
    </nav>
    
    <dialog class="modal">
        <h5 class="center-align">Discovering Keylights</h5>
        <div id="newlights">
            <div class="middle-align center-align small-height">
                <progress id="newlights-spinner" class="circle"></progress>
            </div>
            {{block "newlights" .}}
            {{range .Data.lights}}
            <a class="row wave">
                <i>Lightbulb</i>
                <div>{{.Instance}} {{.AddrIPv4}}</div>
            </a>
            {{end}}
            {{end}}
        </div>
        <nav class="no-space right-align">
            <button hx-on:click='htmx.toggleClass(htmx.find(".modal"), "active")' class="transparent link">Ok</button>
        </nav>
    </dialog>

    <main>
        {{range $index, $element := .Data.state}}
        <div id="value{{$index}}" class="page padding {{ if eq $index 0}} active {{end}}">
            <h5>Elgato Key Lights</h5>
            <div>{{(index $element.Lights 0).IP}}</div>
            <nav>
                <button name="ip" value={{(index $element.Lights 0).IP}} hx-post="/on" hx-swap="innerHTML">
                    {{if eq (index $element.Lights 0).On 0}} On {{else}} Off {{end}}
                </button>
                <input type="hidden" name="ip" value={{(index $element.Lights 0).IP}}>
                <i>brightness_high</i>
                <label class="slider medium">
                    <input hx-post="/brightness" hx-include="[name='ip']" name="brightness" type="range"
                        value="{{(index $element.Lights 0).Brightness}}" min="0" max="100">
                    <span></span>
                    <div class="tooltip"></div>
                </label>
                <i>thermostat</i>
                <label class="slider medium">
                    <input hx-post="/temperature" hx-include="[name='ip']" name="temperature" type="range"
                        value="{{(index $element.Lights 0).Temperature}}" min="143" max="344">
                    <span></span>
                    <div class="tooltip"></div>
                </label>
            </nav>
        </div>
        {{end}}
    </main>
    {{end}}

</body>

</html>